//---------------------------------------------------------------------------
//
// Name:        SzkieletApp.rc
// Author:      
// Created:     21.01.2017 13:19:14
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
